setuptools
editdistance
matplotlib
numba
numpy
opencv-python
pillow
polygon3
rapidfuzz
scipy
scikit-image
scikit-learn
shapely
timm
tqdm
lvis
lap
tqdm
pandas
xmltodict
Levenshtein
setuptools
editdistance
matplotlib
numba
numpy
opencv-python
pillow
shapely
timm
tqdm
lvis
lap
tqdm
pandas
xmltodict
Levenshtein

